# Ignore node_modules directory
node_modules/

# Ignore build output (if you're transpiling TypeScript, for example)
dist/

# Ignore log files and any logs directory
*.log
logs/

# Ignore .env files that may contain sensitive information
.env

# Ignore any OS or text editor-specific files
.DS_Store
.vscode/
.idea/
*.sublime-*

# Ignore npm's package-lock.json or yarn's yarn.lock file
package-lock.json
yarn.lock

# Ignore user-specific files
.npmrc
.npmignore
.npm-debug.log
